body, input, button, select, textarea {
    font: 12px/15px tahoma,arial,verdana,sans-serif,Lucida Sans !important;
}

.btn {
    border-radius: 2px;
    padding: 3px 14px 4px;  
    
    /*
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#cbcbcb));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #cbcbcb);
    background-image: -o-linear-gradient(top, #fcfcfc, #cbcbcb);
    background-image: linear-gradient(to bottom, #fcfcfc, #cbcbcb);
    background-image: -moz-linear-gradient(top, #fcfcfc, #cbcbcb);
    */
}
.btn-mini {
    padding: 1px 8px 2px;
}
.btn-small {
    padding: 2px 9px 3px;
}
.btn-large {
    border-radius: 3px;
    padding: 8px 14px 9px;
}

ul{
    list-style: none;
}



.btn .caret {
    margin-left: 5px;
    margin-top: 8px !important;
}
.btn-group > .btn:first-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.sn-manager .navbar-inner {
    border-radius: 4px 4px 0px 0px;
}

.modal {
    border-radius: 2px;
}


.tooltip-inner {
  padding: 1px 8px 3px;
  background-color: #000;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
}



.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.4;
}

.navbar .brand {
    padding: 3px 8px;
}