body, input, button, select, textarea {
    font: 12px/15px tahoma,arial,verdana,sans-serif,Lucida Sans !important;
}

li {
    line-height: 18px;
}

.btn {
    border-radius: 2px;
    padding: 3px 14px 4px;  
    
    /*
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#cbcbcb));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #cbcbcb);
    background-image: -o-linear-gradient(top, #fcfcfc, #cbcbcb);
    background-image: linear-gradient(to bottom, #fcfcfc, #cbcbcb);
    background-image: -moz-linear-gradient(top, #fcfcfc, #cbcbcb);
    */
}
.btn-mini {
    padding: 1px 8px 3px;
}
.btn-small {
    padding: 2px 9px 3px;
}
.btn-large {
    border-radius: 3px;
    padding: 8px 14px 9px;
}

ul{
    list-style: none;
}


.btn-group > .btn, .btn-group > .dropdown-menu {
    font-size: 12px;
}
.dropdown-menu {
    min-width: 100px;
}


.btn .caret {
    margin-left: 5px;
    margin-top: 8px !important;
}
.btn-group > .btn:first-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.sn-manager .navbar-inverse .navbar-inner {
    border-radius: 4px 4px 0px 0px;
    border-color: #7E7D7D #4B4B4B #111111 #747474;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.modal {
    border-radius: 2px;
}


.tooltip-inner {
  padding: 1px 8px 3px;
  background-color: #000;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
}



.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.25;
}

.navbar-inverse .brand {
    padding: 3px 8px;
}

.sn-center-side .navbar-inverse .navbar-inner {
    padding-left: 20px;
    padding-right: 0;
}
.sn-center-side .navbar-inverse .divider-vertical {
    margin: 0;
}


.sn-center-side .dropdown-menu a {
    line-height: 20px;
    padding: 2px 16px;
}
.sn-center-side .dropdown-menu .divider {
    margin: 7px 1px;
}

.sn-center-side .dropdown .dropdown-menu .nav-header {
    padding-left: 16px;
    padding-right: 16px;
}


.modal-header .close {
    background: url(../img/sn-modal-close.png) no-repeat;
    font-size: 0 !important;
    height: 12px;
    opacity: 1 !important;
    width: 12px;
}
.modal-header .close:hover {
    opacity: 0.8 !important;
    background-position: 0 -12px;
}


.navbar-inverse .navbar-inner {
    background: url(../img/sn-topmenu-bg.png) repeat-x top;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background: url(../img/sn-topmenu-bg.png) repeat-x 0 -42px;
    text-shadow: 0 -1px 0 black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
    color: #BFBFBF;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background: url(../img/sn-topmenu-bg.png) repeat-x 0 -42px;
    text-shadow: 0 -1px 0 black;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5) inset;
    color: #BFBFBF;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #BBB8B8;
    text-shadow: 0 -1px 0 black;
}

.sn-center-side .navbar-search {
    margin-top: 6px;
}

.sn-center-side .navbar-search .search-query {
    padding: 2px 14px;
}
.sn-center-side .navbar-inverse .navbar-search .search-query {
    background: url("../img/sn-topmenu-bg.png") repeat-x left -7px;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
       -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
}
.sn-center-side .navbar-inverse .navbar-search .search-query {
    border-color: #585858 #6C6C6C #6F6F6F #434141;
}
.sn-center-side .navbar-inverse .navbar-search .search-query:focus,
.sn-center-side .navbar-inverse .navbar-search .search-query.focused {
    padding: 2px 14px;
    /*width: 201px;*/
    color: #585858;
    text-shadow: none;
    background: #ffffff;
    border: 1px solid;
    border-color: #585858 #6C6C6C #6F6F6F #434141;
    outline: 0;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3) inset;
       -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3) inset;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3) inset;
}

.modal-footer {
    padding: 5px 9px 6px;
}

.modal-header {
    border-bottom: 1px solid #EEEEEE;
    padding: 6px 10px 8px;
    background: #3D4548;
    color: #D5D4D3;
}
.modal-header .title{
    line-height: 0;
    font-size: 1em;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 0;
}


[class^="icon-"], [class*=" icon-"] {
    opacity: 0.5;
}

/*
.btn {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF, #D5D5D5, #E0DFDF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF, #D5D5D5, #E0DFDF);
    background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF, #D5D5D5, #E0DFDF);
    background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF, #D5D5D5, #E0DFDF);
    background-repeat: repeat-x;
    border: 1px solid;
    border-color: #EDEDED #D2D2D2 #BEBEBE #E3E1E1;
}

.btn-primary {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00A6FF), to(#0044CC));
    background-image: -webkit-linear-gradient(top, #00A6FF, #00A6FF, #004AE7, #0044CC);
    background-image: -o-linear-gradient(top, #00A6FF, #00A6FF, #004AE7, #0044CC);
    background-image: linear-gradient(to bottom, #00A6FF, #00A6FF, #004AE7, #0044CC);
    background-image: -moz-linear-gradient(top, #00A6FF, #00A6FF, #004AE7, #0044CC);
    border-color: #44BEFF #4E8EF2 #4E8EF2 #44BEFF;
}
.btn-success {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7FF77E), to(#51A351));
    background-image: -webkit-linear-gradient(top, #7FF77E, #4FE44D, #51A351, #51A351);
    background-image: -o-linear-gradient(top, #7FF77E, #4FE44D, #51A351, #51A351);
    background-image: linear-gradient(to bottom, #7FF77E, #4FE44D, #51A351, #51A351);
    background-image: -moz-linear-gradient(top, #7FF77E, #4FE44D, #51A351, #51A351);
    border-color: #62C462 #51A351 #62C462 #51A351;
}
*/