
body{
    background: #F0F0F0;
}


.sn-manager .header{
    height: 80px;
}

.sn-manager .sn-left-side{
    margin: 0 -20px 0 0;
    width: 80px;
}

.sn-manager .sn-wrapper.sn-center-wrapper{
    border: 1px solid #E1E1E1;
    min-height: 500px;
    border-radius: 3px;
    padding: 5px 10px;
    background: #FFF;
}

.sn-manager .sn-left-side .sn-button-group ul{
    margin: 0;
}
.sn-manager .sn-left-side .sn-button-group ul li i{
    display: block;
    width: auto;
    height: 80px;
    cursor: pointer;
}


/* -- sn-arrow -- */
.sn-arrow-scroller{
    margin-left: 69px;
    position: absolute;
    width: 12px;
}
.sn-arrow-scroller .sn-arrow-left{
    background: url(../img/sn-left-arrow.gif) center no-repeat;
    height: 24px;
    width: 12px;
}
/* -- sn-arrow -- */


.sn-nav-bar i{
    background-position: bottom;
    background-repeat:  no-repeat;
}
.sn-nav-bar i:hover{
    background-position: center;
}
.sn-nav-bar .active i{
    background-position: top;
}

#sn-button-manager-home{
    background-image: url(../img/sn-button-home.png);
}
#sn-button-manager-page2{
    background-image: url(../img/sn-button-page2.png);
}
#sn-button-manager-page3{
    background-image: url(../img/sn-button-page3.png);
}
#sn-button-manager-page4{
    background-image: url(../img/sn-button-page4.png);
}